#!/bin/bash

OPTIONS="-o rsize=8192,wsize=8192,rw,intr,nosuid,dev,exec,auto,nouser,async,soft,nofail"

{% if ansible_distribution_release != "noble" %}
if [ "$1" == "tun0" ]; then
{% else %}
if [[ "$1" =~ ^"nm-xfrm" ]]; then
{% endif %}
    if [ "$2" == "vpn-up" ]; then
{% for mount in pc_nfs_mounts %}
        echo "Mounting {{ mount.src }} to {{ mount.path }}"
        mount -t nfs $OPTIONS {{ mount.src }} {{ mount.path }}
{% endfor %}
    fi
    if [ "$2" == "vpn-down" ]; then
{% for mount in pc_nfs_mounts %}
        echo "Unmounting {{ mount.path }}"
        umount -f {{ mount.path }}
{% endfor %}
    fi
fi
