vrrp_script check_haproxy {
  script "killall -0 haproxy" # check the haproxy process
  interval 2 # every 2 seconds
  weight 2 # add 2 points if OK
}

vrrp_instance VI_1 {
    state MASTER
    interface eth0
    virtual_router_id {{ virtual_router_id }}
    priority {{ keepalived_priority }}
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass {{ keepalived_password }}
    }
    virtual_ipaddress {
        {{ keepalived_vip }}
    }
    track_script {
        check_haproxy
    }
}
