tls_server_config:
  cert_file: {{ alertmanager_tls_server.cert_file | quote }}
  key_file: {{ alertmanager_tls_server.key_file | quote }}
  client_ca_file: {{ alertmanager_tls_client.ca_file | quote }}
  client_auth_type: RequireAndVerifyClientCert

tls_client_config:
    ca_file: {{ alertmanager_tls_client.ca_file | quote }}
    cert_file: {{ alertmanager_tls_client.cert_file | quote }}
    key_file: {{ alertmanager_tls_client.key_file | quote }}
