{
    "PasswordManagerEnabled": false,
    "BraveRewardsDisabled": true,
    "ExtensionSettings": {
        {{ brave_extensions }}
    },
    "BraveWalletDisabled": true,
    "ExtensionManifestV2Availability": 2,
    "ManagedBookmarks": [{{ brave_bookmarks }}]
}