- targets:
    - {{ prometheus_private_ip }}:10901
    - {{ prometheus2_private_ip }}:10901
    - {{ prometheus3_private_ip }}:10901
    - {{ keepalived_store }}:10905
    - {{ thanos_rule_private_ip }}:10909
