[org/gnome/desktop/background]

# Specify the path to the desktop background image file
picture-uri='file://{{ wallpaper_path_file }}'
picture-uri-dark='file://{{ wallpaper_path_file }}'

# Specify one of the rendering options for the background image:
picture-options='scaled'