apiVersion: 1
providers:
- name: 'blackbox'
  orgId: 1
  folder: ''
  type: file
  disableDeletion: false
  allowUiUpdates: true
  updateIntervalSeconds: 10
  options:
    path: {{ grafana_dashboard_blackbox_file }}
