[Service]
Environment=http_proxy={{ docker_http_proxy }}
Environment=https_proxy={{ docker_https_proxy }}
Environment=no_proxy={{ docker_no_proxy }}
Environment="HTTP_PROXY={{ docker_http_proxy }}"
Environment="HTTPS_PROXY={{ docker_https_proxy }}"
Environment="NO_PROXY={{ docker_no_proxy }}"