#!/bin/zsh

# Load vault env
export VAULT_ADDR=https://vault.adm.vgn:8200
export VAULT_CLIENT_CERT=/home/$USER/.certs/$USER.crt
export VAULT_CLIENT_KEY=/home/$USER/.certs/$USER.key
direnv_load vault login -method=cert -client-key=/home/$USER/.certs/$USER.key -client-cert=/home/$USER/.certs/$USER.crt &> /dev/null

# echo -n "acces_key for outscale"
# read -s ACCESSKEYID
export OUTSCALE_ACCESSKEYID=$(secret-tool lookup key access_key)

# echo -n "secret for outscale"
# read -s SECRETKEYID
export OUTSCALE_SECRETKEYID=$(secret-tool lookup key secret_key)

export OUTSCALE_REGION="cloudgouv-eu-west-1"

export TF_HTTP_USERNAME=$USER
export TF_HTTP_PASSWORD=$(secret-tool lookup key gitlab-adm)

